NTFY_SERVER=https://ntfy.sh
NTFY_TOPIC=change-me-to-random-string
NTFY_PRIORITY=4
LOG_LEVEL=INFO
STATE_DB_PATH=./data/state.db
# Optional: comma-separated override of default search terms
# SEARCH_QUERIES=עמדת טעינה,תקנות החשמל,תקנות משק החשמל,תקנות מקורות האנרגיה,טעינת רכב חשמלי,לרכב חשמלי,טעינת רכבים חשמיללים,רכב חשמלי
# SEND_HEARTBEAT=false
